@import "./variables";

.grid {
    display: flex;
    flex-wrap: wrap;
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    @include media("medium") {
        width: 50%;
    }
}

.content-wrapper {
    padding: 40px;
}
